.formulario h2 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.formulario-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: #17191f;
  border: none;
}

.formulario-control label {
  margin-bottom: 0.5rem;
  color: #fff;
}

.formulario-control input,
textarea,
select {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border: none;
}
